version: "3.7"

services:
  cockroachdb:
    image: cockroachdb/cockroach:v22.2.4
    command: start-single-node --insecure
    volumes:
      - data:/cockroach/cockroach-data
    ports:
      - "26257:26257"
      - "8080:8080"

  nakama:
    image: heroiclabs/nakama
    ports:
      - "7350:7350"  # HTTP
      - "7351:7351"  # gRPC
    environment:
      - "developer.token=devtoken"
    depends_on:
      - cockroachdb
    command:
      - /bin/sh
      - -ecx
      - >
        /nakama/nakama migrate up --database.address root@cockroachdb:26257 &&
        exec /nakama/nakama --name nakama1 --database.address root@cockroachdb:26257 --logger.level DEBUG

volumes:
  data: