services:
  cockroachdb:
    image: cockroachdb/cockroach:v22.2.4
    container_name: cockroachdb
    command: start-single-node --insecure --store=attrs=ssd,path=/var/lib/cockroach/
    restart: always
    volumes:
      - data:/var/lib/cockroach
    ports:
      - "26257:26257"
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health?ready=1"]
      interval: 10s
      timeout: 5s
      retries: 5

  nakama:
    image: heroiclabs/nakama:3.23.0
    container_name: nakama
    ports:
      - "7349:7349"
      - "7350:7350"
      - "7351:7351"
    depends_on:
      cockroachdb:
        condition: service_healthy
    entrypoint:
      - /bin/sh
      - -ecx
      - >
        /nakama/nakama migrate up --database.address root@cockroachdb:26257 &&
        exec /nakama/nakama --name nakama1 --database.address root@cockroachdb:26257 --runtime.js_entrypoint /nakama/data/build/main.js
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7350/"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ./data:/nakama/data
      - ./build:/nakama/data/build

volumes:
  data: